/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/font-awesome/css/font-awesome.css";

.clickable {
    cursor: pointer;
}

.nav-link 
{
    padding: 0.1rem 1rem;
}

.jumbotron-fluid
{
    padding: 2rem 2rem;

}